<!DOCTYPE html>
<html>
    <head>
        <title>Dashboard | Admin Panel</title>
        <meta http-equiv="Content-Type" content="text/html" charset="utf=8">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="http://localhost/Assignment2_pizzagang/inc/js/bootstrap.min.js"></script>
        <link rel="preconnect" href="https://fonts.gstatic.com"> 
        <link href="https://fonts.googleapis.com/css2?family=Alatsi&family=Caveat:wght@700&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Caveat:wght@700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="http://localhost/Assignment2_pizzagang/inc/css/bootstrap.min.css" >
        <meta http-equiv="Content-Type" content="text/html" charset="utf=8">
        
    </head>
    <body>
        <div class="container-fluid">
            <div class="row">
                <div class="col-12 col-sm-12 col-lg-12 col-xs-12 bg-dark" style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
                    
                    <!--open div again-->
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-lg-3 col-xs-3 col-sm-3 col-3">
                                <a href="./dashboard.html"><div style="text-align: center;margin-bottom: 18px;margin-top: 10px;color: white;">
                                    <img src="http://localhost/Assignment2_pizzagang/inc/images/white-star.png" width="40px" style="margin-bottom: 5px;">
                                    <br><b><span>Home</span></b> 
                                </div></a>
                            </div>
                            <div class="col-lg-3 col-xs-3 col-sm-3 col-3">
                                <a href="./product.html"><div style="text-align: center;margin-bottom: 18px;margin-top: 10px;color: white;">
                                    <img src="http://localhost/Assignment2_pizzagang/inc/images/white_products.png" width="40px" style="margin-bottom: 5px;">
                                    <br><small>Product</small> 
                                </div></a>
                            </div>
                            <div class="col-lg-3 col-xs-3 col-sm-3 col-3">
                                <a href="./promotion.html"><div style="text-align: center;margin-bottom: 18px;margin-top: 10px;color: white;">
                                    <img src="http://localhost/Assignment2_pizzagang/inc/images/white_tag.png" width="40px" style="margin-bottom: 5px;">
                                    <br><small>Promotion</small> 
                                </div></a>
                            </div>
                            <div class="col-lg-3 col-xs-3 col-sm-3 col-3">
                                <a href="./orders.html"><div style="text-align: center;margin-bottom: 18px;margin-top: 10px;color: white;">
                                    <img src="http://localhost/Assignment2_pizzagang/inc/images/white_doc.png" width="35px" style="margin-bottom: 5px;">
                                    <br><small>Order</small> 

                                </div></a>
                            </div>
                        </div>
                    </div>

                    <!--end div -->

                </div>
            </div>
        </div>

        <div style="text-align: right;">
            <button class="btn btn-danger" style="margin:10px;" onclick="logout()">Log Out </button>
        </div>


        <script>
            $(document).ready(function(){

            });
            function logout()
            {
                var projectname = window.location.pathname;
                var slice_projname = projectname.split("/");
                var origin_path = window.location.origin + "/" + slice_projname[1];
                var base_url = origin_path + '/Controllers/index.php';
                
                $.ajax({
                    type: "GET",
                    url: base_url,
                    data: { action : "logout_admin" },
                    success: function(datas) {

                        //get count from cart
                        //$('#username_access').html("<b>"+datas[0].username + "  | 0 Pts</b> <button id='btnLogout' style='border-radius:10px;background:none;border:1.5px solid #cf9900;color:#cf9900;font-weight:bolder;'>Logout</button>");

                        window.location.href = "../visitor/";                  
                    },
                    error: function() {
                        alert('Error occured');
                    }
                });
                
            }
        </script>

    </body>
</html>