<!DOCTYPE html>
<html>
    <head>
        <title>LOGIN | MEMBER PANEL</title>
        <meta http-equiv="Content-Type" content="text/html" charset="utf=8">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        

    </head>
    <body>
        this is login page

        <div id="test"></div>

        <script>

            var projectname = window.location.pathname;
            var slice_projname = projectname.split("/");
            var origin_path = window.location.origin + "/" + slice_projname[1];


            var base_url = origin_path + '/Controllers/index.php?action=login_admin';
            
            $.ajax({
                type: "POST",
                url: base_url,
                data: { username_admin : "nickole", 
                        password_admin: "nickole@123" },
                success: function(datas) {
                    // Run the code here that needs
                    //    to access the data returned
                    //$('#test').html(data);
                    alert(datas);
                    //var decode_rec = JSON.parse(datas);
                    //$("#test").html(decode_rec.husband);
                },
                error: function() {
                    alert('Error occured');
                }
            });
        </script>
        

    </body>
</html>