<!DOCTYPE html>
<html>
    <head>
        <title>LOGIN | ADMIN PANEL</title>
        <meta http-equiv="Content-Type" content="text/html" charset="utf=8">
        <link rel="stylesheet" href="http://localhost/Assignment2_pizzagang/inc/css/bootstrap.css">
        <link rel="stylesheet" href="http://localhost/Assignment2_pizzagang/inc/css/bootstrap-grid.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="http://localhost/Assignment2_pizzagang/inc/js/bootstrap.min.js"></script>
        

    </head>
    <body style="background-color:white;padding:20px">

        <div class="container-fluid">
            <div class="row">
                <div class="col-12 col-lg-3 col-xs-12 col-sm-3">

                   

                </div>
                <div class="col-12 col-lg-6 col-xs-12 col-sm-6">

                    <div style="padding:20px;color: rgb(44, 43, 43);text-align: center;">
                        <img src="http://localhost/Assignment2_pizzagang/inc/images/favicon.png" width="40%"/>
                        <br><br>
                        <b>PizzaGang | Admin Panel</b>
                        <br><br>
                        <form>
                            <input class="form-control form-control-lg" type="text" placeholder="Your Username" id="email_admin" required>
                            <br>
                            <input class="form-control form-control-lg" type="password" placeholder="Password" id="password_admin" required>
                            <br><br>
                            <button onclick="verify_user();" id="btnLogin" type="button" class="btn btn-warning" style="margin: 4px;">Admin Login </button>
                            <a href="../visitor/index.html"><button id="btnBack" type="button" class="btn btn-light" style="margin: 4px;">Back to Visitor </button></a>




                        </form>
                    </div>

                </div>
                <div class="col-12 col-lg-3 col-xs-12 col-sm-3">

                  

                </div>
            </div>
        </div>

        
        
        

        <script>

                if(window.innerWidth >= 400)
                {
                    var screen = window.innerHeight - 30;
                    //$('#dash_login').height(window.innerHeight);
                    document.getElementById('dash_login').style.height = screen + "px";
                }else
                {
                    document.getElementById('dash_login').style.height = "400px";

                }

                $(document).ready(function(){
                    $('#btnLogin').click(function(event){
                        verify_user();

                        event.preventDefault();

                    });
                });

         


      

            function verify_user()
            {
                var projectname = window.location.pathname;
                var slice_projname = projectname.split("/");
                var origin_path = window.location.origin + "/" + slice_projname[1];
                var base_url = origin_path + '/Controllers/index.php?action=login_members';

                //var formValues = $(this).serialize();

                $.ajax({
                    type: "POST",
                    url: origin_path + '/Controllers/index.php?action=login_admin',
                    data: { username_admin: $('#email_admin').val(), 
                            password_admin: $('#password_admin').val()
                            },
                    dataType: 'JSON',
                    success: function(datas) {

                                        // Run the code here that needs
                                        //    to access the data returned
                                        //$('#test').html(data);
                                        if(datas.responses == "SUCCESSFUL LOGIN CREDENTIAL")
                                        {
                                            //alert("here");
                                            window.location.href = "./dashboard.html";
                                        }else{
                                            alert(datas.responses);


                                        }
                                        
                                        //var decode_rec = JSON.parse(datas);
                                        //$("#test").html(decode_rec.husband);
                    },
                    error: function(xhr, ajaxOptions, error) {
                        alert(xhr.statusText);
                    }
                });

            }

            
        </script>
        

    </body>
</html>