<!DOCTYPE html>
<html>
    <head>
        <title>LOGIN | MEMBER PANEL</title>
        <meta http-equiv="Content-Type" content="text/html" charset="utf=8">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="http://localhost/Assignment2_pizzagang/inc/js/bootstrap.min.js"></script>
        <link rel="preconnect" href="https://fonts.gstatic.com"> 
        <link href="https://fonts.googleapis.com/css2?family=Alatsi&family=Caveat:wght@700&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Caveat:wght@700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="http://localhost/Assignment2_pizzagang/inc/css/bootstrap.min.css" >
        <meta http-equiv="Content-Type" content="text/html" charset="utf=8">
        

    </head>
    <body style="background-color:whitesmoke">

        <div class="container-fluid">
            <div class="row">
                <div class="col-12 col-lg-3 col-xs-12 col-sm-3">

                   

                </div>
                <div class="col-12 col-lg-6 col-xs-12 col-sm-6">

                    <div style="padding:20px;color: rgb(44, 43, 43);text-align: center;">
                        <img src="http://localhost/Assignment2_pizzagang/inc/images/favicon.png" width="40%"/>
                        <br><br>
                        <b>PizzaGang | Member Login</b>
                        <br><br>
                        <form>
                            <input class="form-control form-control-lg" type="text" placeholder="Your Email" id="email_member" required>
                            <br>
                            <input class="form-control form-control-lg" type="password" placeholder="Password" id="password_member" required>
                            <br><br>
                            <button onclick="verify_user();" id="btnLogin" type="button" class="btn btn-warning" style="margin: 4px;">Member Login </button>
                            <a href="../visitor/index.html"><button id="btnBack" type="button" class="btn btn-light" style="margin: 4px;">Back to Visitor </button></a>




                        </form>
                    </div>

                </div>
                <div class="col-12 col-lg-3 col-xs-12 col-sm-3">

                  

                </div>
            </div>
        </div>

        
       
        

        <script type="text/javascript">

            
            


            function verify_user()
            {
                var projectname = window.location.pathname;
                var slice_projname = projectname.split("/");
                var origin_path = window.location.origin + "/" + slice_projname[1];
                var base_url = origin_path + '/Controllers/index.php?action=login_members';

                var formValues = $(this).serialize();

                $.ajax({
                    type: "POST",
                    url: origin_path + '/Controllers/index.php?action=login_members',
                    data: { email_members: $('#email_member').val(), 
                            password_members: $('#password_member').val()
                            },
                    dataType: 'JSON',
                    success: function(datas) {
                        //alert(datas.Response);

                                        // Run the code here that needs
                                        //    to access the data returned
                                        //$('#test').html(data);
                                        if(datas.Response == "success")
                                        {
                                            //alert("here");
                                            window.location.href = "./home.html";
                                        }else{
                                            alert(datas.Response);


                                        }
                                        //var decode_rec = JSON.parse(datas);
                                        //$("#test").html(decode_rec.husband);
                    },
                    error: function(xhr, ajaxOptions, error) {
                    }
                });

            }

            
        </script>
        

    </body>
</html>