<!DOCTYPE html>
<html>
    <head>
        <title>Orders | MEMBER PANEL</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <link rel="preconnect" href="https://fonts.gstatic.com"> 
        <link href="https://fonts.googleapis.com/css2?family=Alatsi&family=Caveat:wght@700&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Caveat:wght@700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="http://localhost/Assignment2_pizzagang/inc/css/bootstrap.min.css">
        <script src="http://localhost/Assignment2_pizzagang/inc/js/bootstrap.min.js" ></script>
        <meta http-equiv="Content-Type" content="text/html" charset="utf=8">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        

    </head>
    <body>
        <div class="container-fluid">
            <div class="row">
                <div class="col-12 col-sm-12 col-lg-12 bg-dark" style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
                    <div style="text-align: center;padding: 15px;color:whitesmoke;font-weight: bolder;">
                        <div style="float: left;">
                            <a href="./index.html"><button style="background:none;border: none;margin-top: 5px;"><svg width="30px" height="30px" viewBox="0 0 20 20" class="bi bi-arrow-left" fill="white" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"/>
                          </svg></button></a>
                        </div>
                        <h3>My Orders</h3>
                    </div>
                </div>
                <div class="col-12 col-sm-12 col-lg-3" ></div>
                <div class="col-12 col-sm-12 col-lg-6" >
                    <div style="text-align: center;padding: 15px;color:black;font-weight: bolder;">
                        <br>
                        <h5><b>Previous Order</b></h5>
                        <br>
                        <div id="order_rec">
                            

                        </div>

                        
                    </div>
                </div>
                
            </div>
        </div>

        <div id="test"></div>

        <script>

            var projectname = window.location.pathname;
            var slice_projname = projectname.split("/");
            var origin_path = window.location.origin + "/" + slice_projname[1];


            var base_url = origin_path + '/Controllers/index.php?action=view_my_orders_member';
            
            $.ajax({
                type: "POST",
                url: base_url,
                dataType:'JSON',
                success: function(datas) {
                    // Run the code here that needs
                    //    to access the data returned
                    //$('#test').html(data);
                    if(datas.response == null)
                    {
                        //got result
                        var count = datas.length ;
                        for (var i=0;i<count;i++)
                        {
                            $('#order_rec').append('<div style="border-radius:15px;background: gold;padding: 10px;box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.15), 0 6px 20px 0 rgba(231, 231, 231, 0.14);">'+
                            '<div style="margin-bottom: 10px;">'+datas[i].tracking_number+'</div>'+
                            '<div style="width: 100%;height: 1px;background-color: rgba(0, 0, 0, 0.2);margin-bottom: 10px;"></div>'+
                            '<span><svg width="1em" height="1em" viewBox="0 0 18 18" class="bi bi-person-circle" fill="currentColor" xmlns="http://www.w3.org/2000/svg">'+
                            '<path d="M13.468 12.37C12.758 11.226 11.195 10 8 10s-4.757 1.225-5.468 2.37A6.987 6.987 0 0 0 8 15a6.987 6.987 0 0 0 5.468-2.63z"/>'+
                            '<path fill-rule="evenodd" d="M8 9a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/><path fill-rule="evenodd" d="M8 1a7 7 0 1 0 0 14A7 7 0 0 0 8 1zM0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8z"/>'+
                            '</svg> &nbsp;'+datas[i].delivery_name+'</span><BR><span style="padding-left: 10px;padding-right: 10px;font-size: 9px;">'+datas[i].address+'</span>'+
                            '<br><small>'+datas[i].email_address+' | '+datas[i].phone_number+'</small><br><br><h2>'+datas[i].status+' </h2><br>'+
                            '<a href="'+origin_path+'/Controllers/index.php?action=view_orders_details&id='+datas[i].ref_id+'"><button id="" style="width: 100%;background-color: white;border-radius: 15px;border: none;font-weight: bold;">More ...</button><br></div><br><br></a>')

                        }
                        

                    }else
                    {

                    }
                    //alert(datas);
                    //var decode_rec = JSON.parse(datas);
                    //$("#test").html(decode_rec.husband);
                },
                error: function() {
                    alert('Error occured');
                }
            });
        </script>
        

    </body>
</html>