<div class="container-fluid">
    <div class="row">
        <div class="col-12 col-sm-12 col-lg-12 bg-dark" style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
            <div style="text-align: center;padding: 15px;color:whitesmoke;font-weight: bolder;">
                <div style="float: left;">
                    <a href="./index.html"><button style="background:none;border: none;margin-top: 5px;"><svg width="30px" height="30px" viewBox="0 0 20 20" class="bi bi-arrow-left" fill="white" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"/>
                  </svg></button></a>
                </div>
                <h3>My Orders</h3>
            </div>
        </div>
        <div class="col-12 col-sm-12 col-lg-3" ></div>
        <div class="col-12 col-sm-12 col-lg-6" >
            <div style="text-align: center;padding: 15px;color:black;font-weight: bolder;">
                <br>
                <h5><b>Previous Order</b></h5>
                <br>

                <div style="border-radius:15px;background: gold;padding: 10px;box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.15), 0 6px 20px 0 rgba(231, 231, 231, 0.14);">
                    <div style="margin-bottom: 10px;">DOT-128736849</div>
                    <div style="width: 100%;height: 1px;background-color: rgba(0, 0, 0, 0.2);margin-bottom: 10px;"></div>
                            <span><svg width="1em" height="1em" viewBox="0 0 18 18" class="bi bi-person-circle" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path d="M13.468 12.37C12.758 11.226 11.195 10 8 10s-4.757 1.225-5.468 2.37A6.987 6.987 0 0 0 8 15a6.987 6.987 0 0 0 5.468-2.63z"/>
                            <path fill-rule="evenodd" d="M8 9a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                            <path fill-rule="evenodd" d="M8 1a7 7 0 1 0 0 14A7 7 0 0 0 8 1zM0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8z"/>
                            </svg> &nbsp;nickole tan</span><BR>
                            <span style="padding-left: 10px;padding-right: 10px;font-size: 9px;">NO 33 JALAN SERAI SAUJANA, TAMAN SERAI SAUJANA, 34330 BAGAN SERAI, PERAK</span>
                   
                            <small>nickoletan12@gmail.com | 0143012116</small>
                            <br><br>
                            <h2>Preparing ... </h2>
                            <br>
                            <button id="" style="width: 100%;background-color: white;border-radius: 15px;border: none;font-weight: bold;">More ...</button>


                            <br>
                            

                            
                    
                        
                    
                        
                </div>
                
            </div>
        </div>
        <div class="col-12 col-sm-12 col-lg-12" >
            
        </div>
    </div>
</div>