<!DOCTYPE html>
<html>
    <head>
        <title>LOGIN | MEMBER PANEL</title>
        <meta http-equiv="Content-Type" content="text/html" charset="utf=8">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        

    </head>
    <body>
        <div class="container-fluid">
            <div class="row"> 
                
                <div class="col-12 col-lg-8 col-xs-12 col-sm-8" style="padding-left: 0px;padding-right: 0px;margin-left: 0px;margin-right: 0px;">
                    <div style="background-color: #efefef;padding-left:30px;padding-top: 50px;padding-right: 30px;padding-bottom: 50px;" id="cart_page">
                        <h2 style="font-weight:900;">ORDER CONFIRMATION</h2>
                        <br>
                        <div class="container-fluid" id="cart_item">
                            
                            
                        </div>
                        <div id="test"></div>

                    </div>
                    
                </div>
                <div class="col-12 col-lg-4 col-xs-12 col-sm-4 bg-dark" style="padding-left: 0px;padding-right: 0px;margin-left: 0px;margin-right: 0px;box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
                    <div id="total_page" style="padding-top: 50px;">
                        <h4 style="margin-left: auto;margin-right: auto;text-align: center;color: gold;font-weight: bold; ">Total Amount</h4>
                        <div style="width: 100%;background-color: rgba(255, 255, 255, 0.2);text-align: center;color: white;padding-top: 13px;padding-bottom: 10px;"><h3 style="font-weight: 900;" id="total_amount"></h3></div>
                        <br>
                        <!--Delivery Detail-->
                        <div>
                            <form>
                                <small style="color: ivory;"> &nbsp;Promotion Code : </small><br>
                                <input id="promo_code" type="text" placeholder="Promotion Code (optional)" style="text-align: center;font-size: 12px;width: 90%;margin-right: 10px;padding: 10px;border-top-right-radius: 20px;border-bottom-right-radius: 20px;border:none;">
                                <br><br>


                                <small style="color: ivory;"> &nbsp;Delivery Name : </small><br>
                                <input id="promo_code" type="text" placeholder="Your Delivery Name" style="text-align: center;font-size: 12px;width: 90%;margin-right: 10px;padding: 10px;border-top-right-radius: 20px;border-bottom-right-radius: 20px;border:none;">
                                <br><br>



                                <small style="color: ivory;"> &nbsp;Phone Number : </small><br>
                                <input id="promo_code" type="number" placeholder="Your Phone Number" style="text-align: center;font-size: 12px;width: 90%;margin-right: 10px;padding: 10px;border-top-right-radius: 20px;border-bottom-right-radius: 20px;border:none;">
                                <br><br>


                                <small style="color: ivory;"> &nbsp;Email Address : </small><br>
                                <input id="promo_code" type="email" placeholder="Your Email Address" style="text-align: center;font-size: 12px;width: 90%;margin-right: 10px;padding: 10px;border-top-right-radius: 20px;border-bottom-right-radius: 20px;border:none;">
                                <br><br>
                            </form>

                        </div>
                        <br><br>
                        <a href="./home.html"><h6 style="color:honeydew ;text-align: center;cursor: pointer;">Back to Home</h6></a>
                        <br>
                        <a href="./order_confirmation.html"><button style="background-color: gold;width: 100%;border: none;padding: 20px;font-weight: 800;font-size: 19px;color: rgb(99, 74, 10);">Proceed to Next</button></a>
                    </div>
                </div>
            </div>
        </div>

        <div id="test"></div>

        <script>

            var projectname = window.location.pathname;
            var slice_projname = projectname.split("/");
            var origin_path = window.location.origin + "/" + slice_projname[1];


            var base_url = origin_path + '/Controllers/index.php?action=order_confirmation_member';
            
            $.ajax({
                type: "POST",
                url: base_url,
                data: { promocode : "XXT-223",
                        deliveryname : "Nickole Tan",
                        phone : "0143387799",
                        desc : "-" },
                success: function(datas) {
                    // Run the code here that needs
                    //    to access the data returned
                    //$('#test').html(data);
                    alert(datas);
                    //var decode_rec = JSON.parse(datas);
                    //$("#test").html(decode_rec.husband);
                },
                error: function() {
                    alert('Error occured');
                }
            });
        </script>
        

    </body>
</html>